<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR App</title>
    <!-- Tambahkan Material Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://unpkg.com/@material-tailwind/html@latest/styles.css" rel="stylesheet">
</head>
<body class="p-4 bg-gray-100">
    <div class="container mx-auto px-4">
        {% block content %}{% endblock %}
    </div>
    <script src="https://unpkg.com/@material-tailwind/html@latest/scripts.js"></script>
</body>
</html>
